@import "./style";
@import "./variables";

body{
    width: 100%;
    background: getColor("background");
    overflow-x: hidden;

    .header{
        width: 100%;
        height: getMeasurement("headerHeight");
        position: fixed;
        background: white;
        z-index: 999;

        .header-container{

            .header-inner-content{

                .header-logo{
                    
                    img{
                        max-height: 30px;
                    }
                }

                .header-links{
                    list-style: none;

                    li{

                        &:not(:first-child){
                            margin-left: 10px;
                        }

                        a{
                            color: getColor("textColor");
                            padding: 7px 20px;
                            border-radius: 20px;
                            -webkit-border-radius: 20px;
                            -moz-border-radius: 20px;
                            -ms-border-radius: 20px;
                            -o-border-radius: 20px;

                            &.border-link{
                                border: 2px solid getColor("primary");

                            }
                        }
                    }

                }

                .mobile-menu-open-btn{
                    display: none;
                    background: transparent;
                    color: black;
                    font-size: 1.5rem;
                    border: none;
                    width: auto;
                    height: auto;
                    padding: 10px 20px;
                    margin: 0px;
                }
            }
        }

        @media only screen and (max-width: 900px){

            .header-container{

                .header-inner-content{

                    .desktop-links{
                        display: none;
                    }

                    .mobile-menu-open-btn{
                        display: block;
                    }
                }
            }
        }

    }

    .mobile-link-content{
        width: 100%;
        position: absolute;
        max-width: 500px;
        background: white;
        height: 100vh;
        right: -500px;
        top: 0px;
        padding: 30px 20px;
        transition: 0.5s ease all;
        -webkit-transition: 0.5s ease all;
        -moz-transition: 0.5s ease all;
        -ms-transition: 0.5s ease all;
        -o-transition: 0.5s ease all;

        
        .mobile-link-header{
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, .2);

            .header-logo{
                
                img{
                    max-height: 20px;
                }
            }

            .close-mobile-menu{
                background: transparent;
                color: black;
                font-size: 1.5rem;
                border: none;
                outline: none;
            }

        }

        .mobile-links{

            li{
                margin-top: 20px;
            }

            a{
                font-weight: 500;
                font-size: 1.1rem;
                text-decoration: none;
                color: black;
            }
        }

    }

    .active-mobile-content{
        right: 0px;
    }

    
    .banner-list-card{
        width: 250px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);

        &:not(:first-child){
            margin-top: 20px;
        }

        .icon-container{
            width: 70px;
            height: 70px;
            border-radius: 7px;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            -ms-border-radius: 7px;
            -o-border-radius: 7px;
            font-size: 3rem;
            background: #EDFCE8;
            color: getColor("primary");
            z-index: 9;

            img{
                width: 3rem;
            }
        }

        .list-title{
            width: calc(100% - 80px);
            margin-left: -10px;
            padding-left: 20px;
            background: white;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            height: 50px;
            
            
            p{
                font-weight: bold;
                font-size: 1.1rem;
            }
        }

    }


    .fixed-contact-button{
        position: fixed;
        bottom: 10px;
        right: 10px;
        border: none;
        background: white;
        width: auto;
        height: auto;
        padding: 10px 15px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        color: getColor("primary");
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;

        &:hover{
            transition: 0.5s ease all;
            -webkit-transition: 0.5s ease all;
            -moz-transition: 0.5s ease all;
            -ms-transition: 0.5s ease all;
            -o-transition: 0.5s ease all;
            color: white !important;
            background: getColor("primary");
        }

    }
                
    .social-links{

        li{
            a{
                font-size: 1.4rem;
            }
        }

    }

    .footer{
        background: white;
        // margin-top: 50px;
        padding: 20px 0px;

        .social-links{

            li{
                &:not(:first-child){
                    margin-left: 10px;
                }
            }
        }

    }

    .main-container{
        padding-top: getMeasurement("headerHeight");
        min-height: 100vh;

    }
}