@import "./style";
@import "./variables";

body{
    // width: 100%;
    background: getColor("background");

    .header{
        width: 100%;
        height: getMeasurement("headerHeight");
        position: fixed;
        background: white;
        z-index: 999;

        .header-container{

            .header-inner-content{

                .header-logo{
                    
                    img{
                        max-height: 30px;
                    }
                }

                .header-links{
                    list-style: none;

                    li{

                        &:not(:first-child){
                            margin-left: 10px;
                        }

                        a{
                            color: getColor("textColor");
                            padding: 7px 20px;
                            border-radius: 20px;
                            -webkit-border-radius: 20px;
                            -moz-border-radius: 20px;
                            -ms-border-radius: 20px;
                            -o-border-radius: 20px;

                            &.border-link{
                                border: 2px solid getColor("primary");

                            }
                        }
                    }

                }
            }
        }

    }

    .main-container{
        padding-top: getMeasurement("headerHeight");

    }
}